@use "../generalities/variables";

*{
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    

}
body {
    position: relative;
}

body::after{
    content:"";
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    background-image: url("src/assets/images/chute.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

button {
  border: none;
  border-radius: 10px;
//   display: flex;
//   flex-direction: column;
  justify-content: center;
//   margin: 0 auto;
//   font-size: 1.6em;
}


/* *****************************************************************
 VERSION TABLETTE
***************************************************************** */

@media screen and (min-width:780px) {


}

/* *****************************************************************
 VERSION DESKTOP
***************************************************************** */

@media screen and (min-width:1200px) {

}