@use "../generalities/variables";

.connection {
  font-family: variables.$text-font;
}

.encard-connection {
  background-color: variables.$opacity-salmon;
  color: variables.$marron;
  margin: 18em;
  border: none;
  padding: 4em;
  display: flex;
  flex-direction: column;

  label {
    padding: 1em;
  }
}

.email {
  margin: 0.5em;
  padding: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  padding-right: 20em;
}

.password {
  margin: 0.5em;
  padding: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  padding-right: 20em;
}
